{% extends "admin/layout.html" %}
{% block content %}
<style>
    .mosempleado,
    .mosherra {
        display: none;
    }
</style>
<div class="">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <div class="panel panel-info" >
        <div class="panel-heading" style="background-color: #696F6B;color: white;">
            Prestamo de Herramientas
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Seleccionar Empleado</label>
            </div>
            <form action="/admin/in_prestamo" method="post">
                <div class="form-group">
                    <label>Empleado</label>
                    <input class="form-control empleado" type="text" name="empleado_p" readonly />
                    <label>Cedula</label>
                    <input class="form-control cedula" type="number" name="cedula_p" readonly />
                    <br>
                    <button type="button" class="but1" style="background-color: green; color: white;">Empleado
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-check" viewBox="0 0 16 16">
                            <path
                                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                            <path
                                d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                        </svg>
                    </button>
                </div>
                <div class="form-group">
                    <label>Seleccionar Herramientas</label>
                </div>
                <div class="form-group">
                    <label>Codigo</label>
                    <input class="form-control codigo" type="text" name="codigo_p" readonly />
                    <label>Nombre de producto</label>
                    <input class="form-control nombre" type="text" name="nombreh_p" readonly />
                    <label>Cantidad</label>
                    <input class="form-control cantidad" type="text" name="stock_p" readonly />
                    <label>Id herramienta</label>
                    <input class="form-control id_h" type="text" name="id_h" readonly />
                    <br>
                    <button type="button" class="but2" style="background-color: #03275A; color: white;">Herramientas
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-tools" viewBox="0 0 16 16">
                            <path
                                d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3q0-.405-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z" />
                        </svg>
                    </button>
                </div>
                <br>
                <label for="">Fecha de inicio de prestamo</label>
                <input type="datetime-local" name="fecha_p" id="fecha_p" class="form-control ">
                <input type="hidden" value="" name="fecha_pf" class="form-control ">
                <label for="">Estado</label>
                <input type="text" name="estado" value="Prestado" class="form-control" readonly>
                <label for="">Comentario</label>
                <input type="text" name="comentario" class="form-control ">
                <br>
                <br>
                <button type="submit" class="btn btn-info" style="background-color: #696F6B;color: white;">Enviar</button>
            </form>
        </div>
    </div>
</div>
<div class="mosempleado">
    <table class="table table-bordered table-hover" id="myTable">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Selector</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td class="valor1">
                    {{empleado.nombre}}
                </td>
                <td class="valor2">
                    {{empleado.cedula}}
                </td>
                <td>
                    <button type="button">Seleccionar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="mosherra">
    <table class="table table-bordered table-hover" id="myTable2">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre de herramienta</th>
                <th>Cantidad</th>
                <th>Id herramienta</th>
                <th>Selector</th>
            </tr>
        </thead>
        <tbody>
            {% for herramienta in herramientas %}
            <tr>
                <td class="var1">
                    {{herramienta.codigo}}
                </td>
                <td class="var2">
                    {{herramienta.nombre_h}}
                </td>
                <td class="var3">
                    {{herramienta.stock}}
                </td>
                <td class="var4">
                    {{herramienta.id_h}}
                </td>
                <td>
                    <button type="button">Seleccionar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="/static/js/admin/in_prestamo.js"></script>
<script>
</script>
<script>
document.addEventListener('DOMContentLoaded', (event) => {
    // Obtener la fecha y hora actual
    let today = new Date();
    let dd = String(today.getDate()).padStart(2, '0');
    let mm = String(today.getMonth() + 1).padStart(2, '0'); // Enero es 0!
    let yyyy = today.getFullYear();

    let hh = String(today.getHours()).padStart(2, '0');
    let min = String(today.getMinutes()).padStart(2, '0');

    // Formatear la fecha y hora actual para el atributo min y max
    let formattedDate = `${yyyy}-${mm}-${dd}T${hh}:${min}`;

    // Establecer el valor del campo de entrada y los atributos min y max
    let fechaInput = document.getElementById("fecha_p");
    fechaInput.value = formattedDate;
    fechaInput.setAttribute("min", formattedDate);
    fechaInput.setAttribute("max", formattedDate);
});

</script>
{% endblock %}